.book-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 30px; 
    gap: 20px;
}

.book-details-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.title {
    font-weight: 900;
    font-size: 23px;
}

.subtitle {
    font-weight: 500;
    font-size: 18px;
}

.book-info {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 20px;
}

.book-image {
    max-height: 300px;
    border-radius: 8px;
}

.book-meta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.description {
    text-indent: 2rem;
    line-height: 1.6;
}
